---
import MainLayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button.astro";
export async function getStaticPaths() {
  const data = await fetch(
    "https://uxrpssobleoddjtiynvs.supabase.co/rest/v1/speakers",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4cnBzc29ibGVvZGRqdGl5bnZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTU4ODM2NDAsImV4cCI6MjAxMTQ1OTY0MH0.9OZTTto-yaauUUl5WmO_bN-Xa0lZOUwru6s7RDfRNLk",
      },
    }
  ).then((response) => response.json());

  return data.map((speaker) => {
    return {
      params: { slug: speaker.slug },
      props: { myData: speaker },
    };
  });
}
const { myData } = Astro.props;
console.log(myData);
---

<MainLayout title={myData.name}>
  <article>
    <img src={myData.image} alt="Speaker Image" />
    <div>
      <h2>{myData.name}</h2>
      <p>{myData.description}</p>
      <br /><br /><br />
      <a href="/speakers">
        <Button title="Go Back" />
      </a>
    </div>
  </article>
</MainLayout>

<style>
  p {
    max-width: 50ch;
  }
  article {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: var(--card-color);
    margin-bottom: 4em;
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  img {
    width: 80%;
  }
  @media (max-width: 800px) {
    article {
      grid-template-columns: 1fr;
    }
    img {
      width: 70%;
    }
  }
</style>
