/* CUSTOM PROPERTIES */
:root {
    --primary-color:#6F0B1D;
    --primary-variant-color:#A00B27;
    --background-color:#F8F7F2;
    --card-color:#cecbb6;
    --primary-text:#121212;
    --secondary-text:#FFFFFF;
    --h1-size:2.19rem;
    --h2-size:1.3rem;
    --h3-size:1.25rem;
    --h4-size:1.06rem;
    --p-size:0.93rem;
    --button-size:0.75rem;
    --h1-wheigt:bolder;
    --h2-wheigt:bold;
    --h3-wheigt:bolder;
    --h4-wheigt:normal;
    --p-wheigt:normal;
    --button-wheigt:normal;

  }
  

  /* DEFAULT STYLE */

  img{
    width: 70%;
  }

  *{
    font-family:'Open Sans';
  }

  body{
    background-color: var(--background-color);
    background-image:url("../mobil.svg") ;
    background-size: cover;
  }

  h1{
    font-size: var(--h1-size);
    font-weight: var(--h1-wheigt);
    color: var(--primary-color);
  }

  h2{
    font-size: var(--h2-size);
    font-weight: var(--h2-wheigt);
    color: var(--primary-color);
  }
  h3{
    font-size: var(--h3-size);
    font-weight: var(--h3-wheigt);
  }
  
  