<footer>
  <div class="newsletter">
    <h4>Join our newsletter</h4>
    <div>
      <input type="email" placeholder="jens-jensen@gmail.com" />
      <button>Join</button>
    </div>
  </div>
  <div class="social-icons">
    <a href="#"><img src="../facebook.svg" alt="Facebook" /></a>
    <a href="#"><img src="../x.svg" alt="X" /></a>
    <a href="#"><img src="../youtube.svg" alt="YouTube" /></a>
    <a href="#"><img src="../instagram.svg" alt="Instagram" /></a>
    <a href="#"><img src="../linkedin.svg" alt="LinkedIn" /></a>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
  }
  img {
    width: 10%;
  }
</style>
