<footer>
  <div class="newsletter">
    <h4>Join our newsletter</h4>
    <input type="email" placeholder="jens-jensen@gmail.com" />
    <button>Join</button>
  </div>
  <div class="social-icons">
    <a href="#"><img src="" alt="Facebook" /></a>
    <a href="#"><img src="" alt="Twitter" /></a>
    <a href="#"><img src="" alt="Instagram" /></a>
    <a href="#"><img src="" alt="LinkedIn" /></a>
    <a href="#"><img src="" alt="YouTube" /></a>
  </div>
</footer>
