---
import Nav from "./Nav.astro";
---

<header>
  <div class="logo">
    <a href="/#" class="nav_logo">
      <img src="../logo_sm.svg" alt="UX Copenhagen" />
    </a>
  </div>
  <Nav />
  <div class="streg">
    <hr />
  </div>
</header>

<style>
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .logo {
    width: 15rem;
  }
  hr {
    border-color: var(--primary-color);
    width: 80%;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .streg {
    grid-column: 1/3;
  }
</style>
