---
import Nav from "./Nav.astro";
---

<header>
  <div class="logo">
    <a href="/#" class="nav_logo">
      <img src="../logo_sm.svg" alt="UX Copenhagen" />
    </a>
  </div>
  <Nav />
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 45%;
  }
  @media (min-width: 1000px) {
    .logo {
      width: 20%;
    }
  }
</style>
